.image-carousel{
    object-fit: cover;
    object-position: 0 80%;
    height: 500px;
}

.image-title{
    font-family: 'Pacifico', cursive;

}

.special-color{
    color: darkred !important;
}

.botao-cor-especial{
    background-color: darkred;
    color: white;
}

.borda-cor-especial{
    border-color: darkred;
}

.botao-cor-especial:hover{
    background-color: rgb(182, 76, 76);
    color: white;
}

.image-card{
    object-fit: cover;
    height: 200px;
}

.card-largura{
   max-width: 18rem;
}
